@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
input[type='radio']:after {
    width: 16.7px;
    height: 16.7px;
    border-radius: 100%;
    font-family: FontAwesome;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #FAFAFA;
    content: '';
    display: inline-block;
    visibility: visible;
    border: solid 1px #707070;
}

input[type='radio']:checked:after {
    width: 16.7px;
    height: 16.7px;
    border-radius: 100%;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #0586ff;
    content: '\f00c';
    display: inline-block;
    visibility: visible;
    border: none;
    letter-spacing: 5px;
}